extend layout

block body
  h1 Real-time Chat
    small With persistent history

  ul#messages

  form
    input(type="text", name="nick", placeholder="Nick", style="width: 80px")
    input(type="text", name="message", placeholder="Enter message")
    button Send