<li><time pubdate datetime="#{time}" data-attr="datetime" data-var="time"><moon data-var="time" data-modifier="time">#{time.toString("hh:mm")}</moon></time><b><moon data-var="nick">#{nick}</moon></b>: <moon data-var="message">#{message}</moon></li>
