html,
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 10px 30px;
}
h1 small {
  font-size: 0.9em;
  font-weight: bold;
  color: #999;
  margin-left: 0.5em;
}
#messages {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
#messages li {
  margin: 0;
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
}
#messages li:last-child {
  border-bottom: 0;
}
#messages time {
  font-size: 11px;
  color: #ccc;
  padding-right: 5px;
}
form {
  background: #eee;
  border-radius: 10px;
  padding: 10px;
}
