extend layout

block body
  header
    h1 Real-time Chat
      small With persistent history

  #container.scrollable-container
    ul#messages(data-template-list="chat-message").scrollable

  footer
    form
      input(type="text", name="nick", placeholder="Nick", style="width: 80px")
      input(type="text", name="message", placeholder="Enter message")
      button Send