!!!
head(lang="en")
  meta(charset="utf-8")
  block title
    title Moon.js real-time chat example
  != css("base")
  block head
body

  block body

  block scripts
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    != js("moon")
    != js("base")
    != jst("base")