html, body
  font-family: Helvetica, Arial, sans-serif
  margin: 0

body
  padding: 50px 30px

header
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: 1000
  padding: 5px 30px
  background: #eee
  border-bottom: 1px solid #e1e1e1
  box-shadow: 0 0 20px 20px #fff

  h1
    line-height: .5
    font-size: .8

footer
  position: absolute
  right: 0
  left: 0
  bottom: 0
  z-index: 1000
  background: #eee
  border-top: 1px solid #e1e1e1

#container
  position: absolute
  top: 70px
  bottom: 45px
  left: 0
  right: 0
  overflow: hidden

h1
  margin: 0
  line-height: 0
  margin-bottom: 1em

  small
    font-size: .9sem
    font-weight: bold
    color: #999
    margin-left: .5em

#messages
  list-style: none
  padding: 0
  margin: 0

  li
    margin: 0
    padding: 5px 10px
    border-bottom: 1px solid #eee
  li:last-child
    border-bottom: 0

  time
    font-size: 11px
    color: #ccc
    padding-right: 5px

form
  padding: 10px

#hello
  height: 100px;
  width: 500px;
  border: 1px solid #ccc;
  background: black;
  color: #fff;

input + input,
input + button
  margin-left: .5em

.scrollbar-content
  position: absolute
  bottom: 0px
  right: 0px
  left: 0px
  overflow: hidden
  max-height:100%

.scrollbar-vertical
  position: absolute
  top: 0
  bottom: 0
  right: 0
  width: 12px
  border-radius: 5px

.scrollbar-handle
  position: absolute
  width: 8px
  margin: 2px
  background: #ccc
  border-radius: 5px
  height: 40px
  cursor: pointer
  z-index: 3000

#login
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: #fff
  z-index: 9999
  iframe
    border: 0
    height: 100%
    width: 100%