html, body
  font-family: Helvetica, Arial, sans-serif
  margin: 0

body
  padding: 50px 30px

header
  margin: 0
  padding: 5px 30px
  background: #000
  color: #fff
  border-radius: 15px

  h1
    margin-top: 1em

#container
  padding: 5px 30px

h1
  margin: 0
  line-height: 0
  margin-bottom: 1em

  small
    font-size: .9sem
    font-weight: bold
    color: #999
    margin-left: .5em

#messages
  list-style: none
  padding: 0
  margin: 10px 0

  li
    margin: 0
    padding: 5px 10px
    border-bottom: 1px solid #eee
  li:last-child
    border-bottom: 0

  time
    font-size: 11px
    color: #ccc
    padding-right: 5px

form
  background: #eee
  border-radius: 10px
  padding: 10px

#hello
  height: 100px;
  width: 500px;
  border: 1px solid #ccc;
  background: black;
  color: #fff;

input + input,
input + button
  margin-left: .5em
